<!DOCTYPE html>
<html>
  <head>
    <title>Todayilearned</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag    'index' %>
  </head>

  <body>
    <div id='root'></div>
    <%= yield %>
    <%= javascript_pack_tag 'index' %>
  </body>
</html>
